.content {
	-fx-pref-height: 300;
	-fx-pref-width: 500;
}

.button {
	-fx-pref-width: 400;
	-fx-pref-height: 50;
	-fx-background-radius: 0;
	-fx-background-color: transparent;
}

.top:hover {
    -fx-background-color: linear-gradient(from 0% 100% to 0% 0%, #dc143c, #661a33);
}

.left,
.right  {
	-fx-pref-width: 200;
}

.left {
    -fx-rotate: 90;
}

.right {
    -fx-rotate: 270;
}

.field {
	-fx-hgap: 0;
	-fx-vgap: 0;
	-fx-alignment: center;
	-fx-grid-lines-visible: true;
	
	-fx-pref-width: 200;
	-fx-pref-height: 200;
}